{;; key names: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj
 ;; formatter extension https://marketplace.visualstudio.com/items?itemName=betterthantomorrow.calva
 :profiles {:Default {:default    true
                      :sim        50      ;; if keydown event for two different keys are pressed within :sim ms, the keypresses are considered simultaneous
                      :delay      500     ;; after :delay ms, the key press is considered to be delayed (TODO WHAT IS THIS??)
                      :alone      1000    ;; if keyup event comes within :alone ms from keydown, the key is not just pressed but held
                      :held       500     ;; key is fired twice when :held ms is elapsed (otherwise seen as a hold command) (TODO WHAT IS THIS??)
}} ;; profiles

;; goku doc references:
;;
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; This is where you define the modifications
 :main [{:des "Dvorak"
         :rules [[:##a :##a]
                 [:##b :##x]
                 [:##backslash :##backslash]
                 [:##c :##j]
                 [:##close_bracket :##equal_sign]
                 [:##comma :##w]
                 [:##d :##e]
                 [:##e :##period]
                 [:##equal_sign :##close_bracket]
                 [:##f :##u]
                 [:##g :##i]
                 [:##h :##d]
                 [:##hyphen :##open_bracket]
                 [:##i :##c]
                 [:##j :##h]
                 [:##k :##t]
                 [:##l :##n]
                 [:##m :##m]
                 [:##n :##b]
                 [:##non_us_backslash :##grave_accent_and_tilde]
                 [:##o :##r]
                 [:##open_bracket :##slash]
                 [:##p :##l]
                 [:##period :##v]
                 [:##q :##quote]
                 [:##quote :##hyphen]
                 [:##r :##p]
                 [:##s :##o]
                 [:##semicolon :##s]
                 [:##slash :##z]
                 [:##t :##y]
                 [:##u :##g]
                 [:##v :##k]
                 [:##w :##comma]
                 [:##x :##q]
                 [:##y :##f]
                 [:##z :##semicolon]]}]}